<?xml version="1.0"?>
<config>
	<modules>
		<Lewis_Lockdown>
			<version>0.0.8</version>
			<platform>ce</platform>
		</Lewis_Lockdown>
	</modules>
	<global>
		<blocks>
			<lockdown>
				<class>Lewis_Lockdown_Block</class>
			</lockdown>
			<!-- support for some admin form blocks, prevents url issues -->
			<lockdown_adminhtml>
				<class>Lewis_Lockdown_Block_Adminhtml</class>
			</lockdown_adminhtml>
		</blocks>
		<helpers>
			<lockdown>
				<class>Lewis_Lockdown_Helper</class>
			</lockdown>
		</helpers>
		<models>
			<lockdown>
				<class>Lewis_Lockdown_Model</class>
				<resourceModel>lockdown_resource</resourceModel>
			</lockdown>
			<lockdown_resource>
				<class>Lewis_Lockdown_Model_Resource</class>
				<entities>
					<lockdown>
						<table>lockdown_entity</table>
					</lockdown>
					<relation_page>
						<table>lockdown_entity_rel_page</table>
					</relation_page>
				</entities>
			</lockdown_resource>
		</models>
		<resources>
			<lockdown_setup>
				<setup>
					<module>Lewis_Lockdown</module>
					<class>Lewis_Lockdown_Model_Resource_Setup</class>
				</setup>
			</lockdown_setup>
		</resources>
		<events>
			<lockdown_save_after>
				<observers>
					<update_cms_page_relations>
						<type>singleton</type>
						<class>lockdown/relation_page</class>
						<method>updateRelations</method>
					</update_cms_page_relations>
				</observers>
			</lockdown_save_after>
		</events>
	</global>
	<adminhtml>
		<layout>
			<updates>
				<lockdown>
					<file>lockdown.xml</file>
				</lockdown>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Lewis_Lockdown_Adminhtml before="Mage_Adminhtml">Lewis_Lockdown_Adminhtml</Lewis_Lockdown_Adminhtml>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<frontend>
		<events>
			<controller_action_layout_load_before>
				<observers>
					<lockdown_login_init_layout_handle>
						<type>singleton</type>
						<class>lockdown/observer</class>
						<method>initLayoutHandle</method>
					</lockdown_login_init_layout_handle>
				</observers>
			</controller_action_layout_load_before>
		</events>
		<layout>
			<updates>
				<lockdown>
					<file>lockdown.xml</file>
				</lockdown>
			</updates>
		</layout>
	</frontend>
</config>
